In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# all genre

In [4]:
html_page = requests.get('https://www.the-numbers.com/market/genres')
soup = BeautifulSoup(html_page.content,'html.parser')

In [5]:
table=soup.find('table')

In [17]:
df=pd.read_html(str(table))[0]
df

    Rank                Genre  Movies Total Box Office     Tickets   Share
0      1            Adventure    1064  $63,772,981,564  9132914210  27.33%
1      2               Action    1027  $47,442,579,508  6731964309  20.33%
2      3                Drama    5303  $37,244,278,625  5707951137  15.96%
3      4               Comedy    2322  $33,968,678,469  5233596160  14.56%
4      5    Thriller/Suspense    1088  $19,522,115,970  2848524119   8.37%
5      6               Horror     602  $11,745,747,045  1697739525   5.03%
6      7      Romantic Comedy     594   $9,918,998,969  1599171071   4.25%
7      8              Musical     183   $4,105,500,177   542118782   1.76%
8      9          Documentary    2319   $2,237,329,848   336008169   0.96%
9     10         Black Comedy     187   $1,662,498,025   231336380   0.71%
10    11              Western      81   $1,084,785,441   149931395   0.46%
11    12  Concert/Performance      74     $395,155,838    53881827   0.17%
12    13      Multiple Genres      42      $33,688,583     4071085   0.01%
13    14              Reality       4         $621,696       73810   0.00%

In [7]:
list(df.itertuples(index=False,name=None))

[(1, 'Adventure', 1064, '$63,772,981,564', 9132914210, '27.33%'),
 (2, 'Action', 1027, '$47,442,579,508', 6731964309, '20.33%'),
 (3, 'Drama', 5303, '$37,244,278,625', 5707951137, '15.96%'),
 (4, 'Comedy', 2322, '$33,968,678,469', 5233596160, '14.56%'),
 (5, 'Thriller/Suspense', 1088, '$19,522,115,970', 2848524119, '8.37%'),
 (6, 'Horror', 602, '$11,745,747,045', 1697739525, '5.03%'),
 (7, 'Romantic Comedy', 594, '$9,918,998,969', 1599171071, '4.25%'),
 (8, 'Musical', 183, '$4,105,500,177', 542118782, '1.76%'),
 (9, 'Documentary', 2319, '$2,237,329,848', 336008169, '0.96%'),
 (10, 'Black Comedy', 187, '$1,662,498,025', 231336380, '0.71%'),
 (11, 'Western', 81, '$1,084,785,441', 149931395, '0.46%'),
 (12, 'Concert/Performance', 74, '$395,155,838', 53881827, '0.17%'),
 (13, 'Multiple Genres', 42, '$33,688,583', 4071085, '0.01%'),
 (14, 'Reality', 4, '$621,696', 73810, '0.00%')]

In [8]:
# individual genre

In [9]:
all_df = []

for genre in df['Genre']:
    genre_url='https://www.the-numbers.com/market/genre/'+genre.replace('/','-or-').replace(' ','-')
    res=requests.get(genre_url)
    soup=BeautifulSoup(res.text,'html.parser')
    tables=soup.find_all('table')
    df2=pd.read_html(str(tables[1]))[0]
    df2['Genre']=genre
    all_df.append(df2)

In [18]:
all_df[1]

,Year,Movies inRelease,MarketShare,Gross,Tickets Sold,Inflation-AdjustedGross,Top-Grossing Movie,Gross that Year,Genre
0,1995,29,19.75%,"$1,049,544,278",241274531,"$2,198,010,977",Batman Forever,"$184,031,112",Action
1,1996,36,21.19%,"$1,222,675,745",276623456,"$2,520,039,684",Twister,"$241,688,385",Action
2,1997,36,22.91%,"$1,456,612,580",317344773,"$2,891,010,882",The Lost World: Jurassic Park,"$229,086,679",Action
3,1998,30,14.37%,"$973,161,753",207497162,"$1,890,299,146",Rush Hour,"$137,567,454",Action
4,1999,32,12.42%,"$911,259,780",179381832,"$1,634,168,490",The Matrix,"$171,383,253",Action
5,2000,31,16.82%,"$1,266,568,598",234984879,"$2,140,712,248",Mission: Impossible 2,"$215,409,889",Action
6,2001,32,16.70%,"$1,395,248,989",246510408,"$2,245,709,817",Rush Hour 2,"$226,164,286",Action
7,2002,32,15.22%,"$1,394,290,142",239981075,"$2,186,227,593",Men in Black 2,"$190,418,803",Action
8,2003,36,22.95%,"$2,109,404,900",349818376,"$3,186,845,405",The Matrix Reloaded,"$281,553,689",Action
9,2004,28,11.51%,"$1,068,864,943",172119948,"$1,568,012,726","I, Robot","$144,801,023",Action
10,2005,41,15.42%,"$1,356,922,056",211688288,"$1,928,480,304",War of the Worlds,"$234,280,354",Action
11,2006,33,11.47%,"$1,050,592,286",160395751,"$1,461,205,292",X-Men: The Last Stand,"$234,362,462",Action
12,2007,38,15.25%,"$1,489,960,013",216563939,"$1,972,897,484",Transformers,"$319,246,193",Action
13,2008,36,16.86%,"$1,643,555,898",228907497,"$2,085,347,298",The Dark Knight,"$531,001,578",Action
14,2009,31,19.18%,"$2,041,030,428",272137386,"$2,479,171,586",Transformers: Revenge of th…,"$402,111,870",Action
15,2010,32,17.21%,"$1,804,210,173",228670483,"$2,083,188,100",Avatar,"$408,392,727",Action
16,2011,47,20.81%,"$2,117,521,464",267026649,"$2,432,612,772",Transformers: Dark of the Moon,"$352,390,543",Action
17,2012,48,20.19%,"$2,219,917,164",278884039,"$2,540,633,595",The Avengers,"$623,357,910",Action
18,2013,45,22.25%,"$2,422,588,228",297981308,"$2,714,609,716",Iron Man 3,"$408,992,272",Action
19,2014,49,25.35%,"$2,603,979,395",318724501,"$2,903,580,204",Guardians of the Galaxy,"$333,055,258",Action
20,2015,56,26.42%,"$2,947,442,069",349637236,"$3,185,195,220",Jurassic World,"$652,270,625",Action
21,2016,60,21.95%,"$2,470,864,846",285649087,"$2,602,263,183",Captain America: Civil War,"$408,084,349",Action
22,2017,67,30.08%,"$3,306,730,551",368643283,"$3,358,340,308",Wonder Woman,"$412,563,408",Action
23,2018,60,34.16%,"$4,080,603,816",447925757,"$4,080,603,646",Black Panther,"$700,059,566",Action
24,2019,55,25.50%,"$2,897,574,987",318065289,"$2,897,574,783",Avengers: Endgame,"$858,373,000",Action
25,2020,7,22.70%,"$141,454,426",15527376,"$141,454,395",Bad Boys For Life,"$126,429,386",Action

In [12]:
# Most Profitable Movies, Based on Absolute Profit on Worldwide Gross

In [13]:
html_page = requests.get('https://www.the-numbers.com/movie/budgets')
soup = BeautifulSoup(html_page.content,'html.parser')

In [32]:
tables=soup.find_all('table')

In [36]:
df=pd.read_html(str(tables[2]))[0]

In [38]:
df.dropna()

,Unnamed: 0,Release Date,Movie,Approx. Income,Approx. Expense,Profit
0,1.0,"Dec 18, 2009",Avatar,"$1,796,427,464","$328,262,000","$1,468,165,464"
2,2.0,"Apr 26, 2019",Avengers: Endgame,"$1,479,816,843","$475,560,000","$1,004,256,843"
4,3.0,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$1,224,827,707","$381,704,000","$843,123,707"
6,4.0,"Nov 22, 2013",Frozen,"$1,042,311,056","$245,904,000","$796,407,056"
8,5.0,"Nov 18, 2005",Harry Potter and the Goblet of Fire,"$997,569,652","$208,064,000","$789,505,652"
10,6.0,"Apr 27, 2018",Avengers: Infinity War,"$1,125,651,663","$368,812,000","$756,839,663"
12,7.0,"May 4, 2012",The Avengers,"$998,554,456","$300,290,000","$698,264,456"
14,8.0,"Jun 12, 2015",Jurassic World,"$962,588,221","$287,756,000","$674,832,221"
16,9.0,"Jul 15, 2011",Harry Potter and the Deathly Hallows: Part II,"$833,252,878","$177,306,000","$655,946,878"
18,10.0,"Jul 3, 2013",Despicable Me 2,"$735,831,589","$143,056,000","$592,775,589"
20,11.0,"Apr 3, 2015",Furious 7,"$831,596,184","$245,576,000","$586,020,184"
22,12.0,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$859,109,301","$293,790,000","$565,319,301"
24,13.0,"Dec 9, 2005","The Chronicles of Narnia: The Lion, the Witch ...","$808,363,868","$247,308,000","$561,055,868"
26,14.0,"Jul 10, 2015",Minions,"$699,159,915","$141,424,000","$557,735,915"
28,15.0,"Jul 18, 2008",The Dark Knight,"$818,004,127","$263,340,000","$554,664,127"
30,16.0,"Jul 11, 2007",Harry Potter and the Order of the Phoenix,"$730,154,345","$202,594,000","$527,560,345"
32,17.0,"Jul 19, 2019",The Lion King,"$863,848,118","$341,924,000","$521,924,118"
34,18.0,"Jun 18, 2010",Toy Story 3,"$786,473,935","$267,398,000","$519,075,935"
36,19.0,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$756,951,233","$256,370,000","$500,581,233"
38,20.0,"Feb 16, 2018",Black Panther,"$769,522,206","$280,472,000","$489,050,206"

In [ ]:
# Biggest Money Losers, Based on Absolute Loss on Worldwide Earnings

In [39]:
html_page = requests.get('https://www.the-numbers.com/movie/budgets')
soup = BeautifulSoup(html_page.content,'html.parser')

In [ ]:
tables=soup.find_all('table')

In [42]:
df=pd.read_html(str(tables[4]))[0]

In [44]:
df.dropna()

,Unnamed: 0,Release Date,Movie,Approx. Income,Approx. Expense,Profit
0,1.0,"Mar 11, 2011",Mars Needs Moms,"$26,754,640","$170,166,000","-$143,411,360"
2,2.0,"Mar 9, 2012",John Carter,"$180,857,835","$295,824,000","-$114,966,165"
4,3.0,"May 12, 2017",King Arthur: Legend of the Sword,"$84,936,081","$199,580,000","-$114,643,919"
6,4.0,"Sep 30, 2016",Deepwater Horizon,"$78,201,830","$189,348,000","-$111,146,170"
8,5.0,"Jan 13, 2017",Monster Trucks,"$39,953,396","$149,450,000","-$109,496,604"
10,6.0,"Mar 1, 2013",Jack the Giant Slayer,"$123,521,590","$228,504,000","-$104,982,410"
12,7.0,"Dec 17, 2010",How Do You Know?,"$35,567,429","$140,454,000","-$104,886,571"
14,8.0,"Dec 25, 2013",47 Ronin,"$93,230,564","$189,988,000","-$96,757,436"
16,9.0,"Feb 6, 2015",Jupiter Ascending,"$110,744,962","$206,582,000","-$95,837,038"
18,10.0,"Apr 21, 2017",The Promise,"$6,231,500","$99,886,000","-$93,654,500"
20,11.0,"Jul 19, 2013",R.I.P.D.,"$55,183,070","$147,884,000","-$92,700,930"
22,12.0,"Nov 23, 2011",Hugo,"$124,394,940","$215,796,000","-$91,401,060"
24,13.0,"May 22, 2015",Tomorrowland,"$115,258,422","$205,644,000","-$90,385,578"
26,14.0,"Jun 22, 2007",Evan Almighty,"$125,422,170","$212,964,000","-$87,541,830"
28,15.0,"Oct 9, 2015",Pan,"$89,022,847","$174,726,000","-$85,703,153"
30,16.0,"Jun 7, 2019",Dark Phoenix,"$140,078,008","$223,688,000","-$83,609,992"
32,17.0,"Jul 21, 2017",Valerian and the City of a Thousand Planets,"$120,369,062","$202,258,000","-$81,888,938"
34,18.0,"May 9, 2008",Speed Racer,"$69,508,789","$149,420,000","-$79,911,211"
36,19.0,"Feb 26, 2016",Gods of Egypt,"$85,719,609","$161,930,000","-$76,210,391"
38,20.0,"Feb 12, 2010",The Wolfman,"$98,459,445","$174,496,000","-$76,036,555"

In [40]:
# import pandas as pd
# from bs4 import BeautifulSoup
# soup = BeautifulSoup('html_page', 'lxml') # Parse the HTML as a string
# table = soup.find_all('table')[0] # Grab the first table
# new_table = pd.DataFrame(columns=range(0,2), index = [0]) # I know the size 
# row_marker = 0
# for row in table.find_all('tr'):
#     column_marker = 0
#     columns = row.find_all('td')
#     for column in columns:
#         new_table.iat[row_marker,column_marker] = column.get_text()
#         column_marker += 1
    
# new_table

In [41]:
# adventure_movies = soup.find('div',{'id':'page_filling_chart'})
# tables=adventure_movies.find_all('table')

In [14]:
# data=[]

# rows=tables[0].findAll('tr')
# for tr in rows:
#     cols=tr.findAll('td')
#     text_tuple = tuple([td.text.replace('\n','').replace('\xa0','').replace(' ','') for td in cols])
#     data.append(text_tuple)

In [17]:
# import pandas as pd
# a=pd.DataFrame(data)

In [19]:
# a.head()