In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import config
import mysql.connector
from mysql.connector import errorcode
import json

#database string
endpoint = config.DatabaseEndpoint
name = config.DatabaseName
password = config.DatabasePassword
port = config.DatabasePort
cnx = mysql.connector.connect(
    host = endpoint,
    user = name,
    passwd = password,
)
cur = cnx.cursor()

In [2]:
html_page = requests.get('https://www.rottentomatoes.com/top/bestofrt/top_100_action__adventure_movies/')
soup = BeautifulSoup(html_page.content,'html.parser')
table=soup.find('table')
df=pd.read_html(str(table))[0]

In [4]:
df.columns = ['Rating', 'Title']

In [43]:
df

          Rating                       Title
0           100%              The Good Place
1           100%  Everything's Gonna Be Okay
2           100%                  Superstore
3           100%                Supernatural
4           100%              Grey's Anatomy
5            94%           Star Trek: Picard
6            90%                        Evil
7            88%                 The Unicorn
8            53%          Carol's Second Act
9            36%                      Deputy
10           25%                  Outmatched
11  No Score Yet               The Bold Type

In [25]:
tbody

In [46]:
reviews_td = soup.find_all('td', class_='right hidden-xs')
reviews = []
for review in reviews_td:
    print(review.text)
    #reviews.append(review.text)
reviews_td[0].text

493
504
415
373
412
443
441
333
460
425
406
401
368
60
46
428
124
370
281
346
383
61
390
294
85
47
405
81
337
46
416
272
318
329
88
283
124
372
72
349
426
246
453
344
216
329
312
44
62
256
278
41
191
352
56
56
58
271
46
102
256
44
320
42
362
64
58
58
59
193
307
171
73
306
234
72
320
263
283
84
49
40
401
252
57
42
268
48
78
235
75
154
128
399
73
64
504
200
294
49

'493'

In [40]:
reviews

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]